<div class="container-fluid">

  <!--
  <div ng-include="'components/navbar/navbar.html'"></div>
  -->

  <!--<input style="display:none;" id="fileDialog" type="file" multiple />-->

  <div navitab>
  <!--<div scrolling-tabs-wrapper>-->

    <tabset id="tabBar" class="tabset-animation">

      <li><a ng-href="#" ng-click="chooseFile()" data-toggle="tab">
        <span class="tabHeaderText">
              <i class="mdi-file-folder"></i></span>
      </a></li>

      <tab class="tablist-animate" id="settingsTab">

        <tab-heading>
          <a href ng-click="select()">
            <span class="tabHeaderText">
              <i class="mdi-action-settings"></i></span>
          </a>
        </tab-heading>

        <div class="row">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="well" id="settingContents">

              <h1>Settings</h1>
              <form>
                <div class="form-group">
                  <label for="tailLengthMax">Number of lines to tail</label>
                  <input type="number" class="form-control" id="tailLengthMax" ng-model="tailLengthMax">
                </div>
                <div class="form-group">
                  <label for="updateInterval">File Polling Inteval (in milliseconds)</label>
                  <input type="number" class="form-control" id="updateInterval" ng-model="updateInterval">
                </div>
              </form>
            </div>

          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
        </div>

      </tab>

      <li id="searchLi">
        <form class="form-inline" id="searchForm">
          <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" id="searchInput" ng-model="searchQuery" placeholder="Search">
            </div>
          </div>
        </form>
      </li>
      <!--
      <li class="dropdown" dropdown on-toggle="toggled(open)">
        <a href class="dropdown-toggle" dropdown-toggle>
          File
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a ng-href="#" ng-click="chooseFile()" data-toggle="tab">Open File</a></li>
          <li class="divider"></li>
          <li><a ng-href="#" ng-click="closeApp()" data-toggle="tab">Quit</a></li>
        </ul>
      </li>
      -->

      <tab ng-repeat="tab in tabs" heading="{{tab.filename}}" active="tab.active" disabled="tab.disabled" class="tablist-animate">

        <tab-heading>
          <a href ng-click="select()">
            <span class="tabHeaderText">{{tab.filename}}</span>
            <span class="badge newLineBadge animated bounceIn">{{ getNewLines(tab) }}</span>
            <button class="close" type="button" ng-click="closeTab(tab.filename)">×</button>
          </a>
        </tab-heading>
        <!--
        <a ng-click="scrollToBottom('tabFooter')">Go to bottom</a>
        -->

        <!--        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>-->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

          <div class="well" id="tabContent">

            <table class="table table-hover ">
              <tbody>
              <tr ng-repeat="line in tab.lines | filter:searchQuery track by $index" class="line-animate">
                <td class="lineNumberTD"><i>{{ line.number }}</i></td>
                <td class="lineNumberTD"><i>{{ line.date }}</i></td>
                <td class="lineBodyTD">{{ line.data }}</td>
              </tr>
              </tbody>
            </table>

          </div>

        </div>

        <div><a id="tabFooter">Footer</a></div>

      </tab>
      <!--
      <li class="dropdown" dropdown on-toggle="toggled(open)">
        <a href class="dropdown-toggle" dropdown-toggle>
          More
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li ng-repeat="tab in tabs"><a ng-href="#" data-toggle="tab">{{ tab.filename }}</a></li>
        </ul>
      </li>
      -->

    </tabset>

  </div>

  <!--
  <div class="jumbotron text-center">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">
      <img src="assets/images/yeoman.png" alt="I'm Yeoman"><br>
      Always a pleasure scaffolding your apps.
    </p>
    <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="awesomeThing in awesomeThings | orderBy:'rank'">
      <div class="thumbnail">
        <img class="pull-right" ng-src="assets/images/{{awesomeThing.logo}}" alt="{{awesomeThing.title}}">
        <div class="caption">
          <h3>{{awesomeThing.title}}</h3>
          <p>{{awesomeThing.description}}</p>
          <p><a ng-href="{{awesomeThing.url}}">{{awesomeThing.url}}</a></p>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="footer">
    <p>With ♥ from <a href="https://twitter.com/Swiip">@Swiip</a></p>
  </div>
  -->


</div>

