<div class="container-fluid">

  <div navitab>
  <!--<div scrolling-tabs-wrapper>-->

    <tabset id="tabBar" class="tabset-animation">

      <file-chooser></file-chooser>

      <!--
      <tab class="tablist-animate" id="settingsTab">

        <tab-heading>
          <a href ng-click="select()">
            <span class="tabHeaderText">
              <i class="mdi-action-settings"></i></span>
          </a>
        </tab-heading>

        <div class="row">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="well" id="settingContents">

              <h1>Settings</h1>
              <form>
                <div class="form-group">
                  <label for="tailLengthMax">Number of lines to tail</label>
                  <input type="number" class="form-control" id="tailLengthMax" ng-model="tailLengthMax">
                </div>
                <div class="form-group">
                  <label for="updateInterval">File Polling Inteval (in milliseconds)</label>
                  <input type="number" class="form-control" id="updateInterval" ng-model="updateInterval">
                </div>
              </form>
            </div>

          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
        </div>

      </tab>
      -->

      <li id="searchLi">
        <form class="form-inline" id="searchForm">
          <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" id="searchInput" ng-model="searchQuery" placeholder="Search">
            </div>
          </div>
        </form>
      </li>

      <tab ng-if="!comboTab.disabled" id="comboTab" class="tablist-animate" active="comboTab.active" disabled="comboTab.disabled">

        <tab-heading>
          <a href ng-click="select()">
            <span class="tabHeaderText">
              <i class="mdi-action-settings-input-component"></i></span>
            <span class="badge newLineBadge animated bounceIn">{{ comboTab.getNewLines() }}</span>
          </a>
        </tab-heading>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

          <div class="well" id="tabContent" ng-bind-html="comboTab.content | limitTo: -100000 | highlight:searchQuery">

          </div>

        </div>

      </tab>

      <tab ng-repeat="tab in tabs" active="tab.active" disabled="tab.disabled" class="tablist-animate">

        <tab-heading>
          <a href ng-click="select()">
            <span class="tabHeaderText">{{ tab.title }}</span>
            <span class="badge newLineBadge animated bounceIn">{{ tab.getNewLines() }}</span>
            <button class="close" type="button" ng-click="closeTab(tab.filename)">×</button>
          </a>
        </tab-heading>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

          <div class="well" id="tabContent" ng-bind-html="tab.content | limitTo: -100000 | highlight:searchQuery">
          </div>

        </div>

      </tab>

    </tabset>

  </div>

</div>

