.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;
}

.thumbnail img.pull-right {
  width: 50px;
}

.nav-tabs {
  background: #005B95;
}

.nav-tabs > li .close {
  margin-left: 10px;
  font-size: 18px;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px
}

.tab-pane span {
  padding-left: 4px;
  padding-right: 4px;
}

.lineNumberTD {
  width: 1%;
}

#tabBar > ul {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  border-width: 0 0 1px;

  /* z-index: @zindex-navbar-fixed;

@media (min-width: @grid-float-breakpoint) {
  border-radius: 0;
}

  #tabFooter {
position: fixed;
  bottom: 0;
}

*/

}

#tabFooter {

  display: block;
  position: relative;
  bottom: 0px;
  visibility: hidden;

}

.tab-content {
  margin-top: 40px;
}

#tabBar > ul > li > a > tab-heading > a, a:hover, a:focus {
  text-decoration: none;
  color: #FFF;
}

#tabBar > ul > li.active > a > tab-heading > a, a:hover, a:focus {
  font-weight: bold;
}

.newLineBadge {
  background-color: #009587;
}

.tabHeaderText {
  padding-right: 3px;
}

/* Tab transition animation

.tab-animate-enter,
.tab-animate-leave
{
  -webkit-transition: 300ms cubic-bezier(0.000, 0.000, 0.580, 1.000) all;
  -moz-transition: 300ms cubic-bezier(0.000, 0.000, 0.580, 1.000) all;
  -ms-transition: 300ms cubic-bezier(0.000, 0.000, 0.580, 1.000) all;
  -o-transition: 300ms cubic-bezier(0.000, 0.000, 0.580, 1.000) all;
  transition: 300ms cubic-bezier(0.000, 0.000, 0.580, 1.000) all;
}

.tab-animate-enter {
  top: 100%;
}
.tab-animate-enter.animate-enter-active {
  top: 0;
}

.tab-animate-leave {
  top: 0;
}
.tab-animate-leave.animate-leave-active{
  top: -100%;
}
*/

/* Styles go here */
/* set reference point */
.tabset-animation > .tab-content {
  /*position: relative;*/
}

/* set animate effect */
.tabset-animation > .tab-content > .tab-pane{
  -webkit-transition: 200ms cubic-bezier(0.000, 0.000, 0.580, 1.000) all;
  -moz-transition: 200ms cubic-bezier(0.000, 0.000, 0.580, 1.000) all;
  -ms-transition: 200ms cubic-bezier(0.000, 0.000, 0.580, 1.000) all;
  -o-transition: 200ms cubic-bezier(0.000, 0.000, 0.580, 1.000) all;
  transition: 200ms cubic-bezier(0.000, 0.000, 0.580, 1.000) all;
}

/* overwrite display: none and remove from document flow */
.tabset-animation > .tab-content > .tab-pane.active-remove {

  /*position: absolute;

  width: 100%;
  display: block;
  */
  top: 100%;
}

/* opacity=0 when removing "active" class */
.tabset-animation > .tab-content > .tab-pane.active-remove-active {

  opacity: 0;
  top:0;

}

/* opacity=0 when adding "active" class */
.tabset-animation > .tab-content > .tab-pane.active-add {

  opacity: 0;
  top: 0;

}

.line-animate.ng-enter, .line-animate.ng-move{
  -webkit-animation: fadeIn 500ms;
  -moz-animation: fadeIn 500ms;
  -o-animation: fadeIn 500ms;
  animation: fadeIn 500ms;
}

/*
.line-animate.ng-leave{
  -webkit-animation: fadeOut 1s;
  -moz-animation: fadeOut 1s;
  -o-animation: fadeOut 1s;
  animation: fadeOut 1s;
}
*/

.tablist-animate.ng-enter, .tablist-animate.ng-move{
  -webkit-animation: zoomIn 500ms;
  -moz-animation: zoomIn 500ms;
  -o-animation: zoomIn 500ms;
  animation: zoomIn 500ms;
}

.tablist-animate.ng-leave{
  -webkit-animation: zoomOut 500ms;
  -moz-animation: zoomOut 500ms;
  -o-animation: zoomOut 500ms;
  animation: zoomOut 500ms;
}

#tabBar > div > div.tab-pane > table > tbody > tr > td {
  padding-bottom: 4px;
  padding-top: 6px;
  padding-left: 7px;
  padding-right: 7px;
  border-top-width: 0px;
}

#tabBar > div > div.tab-pane > table > tbody > tr > td.lineNumberTD {
  border-right: solid;
  border-right-width: 1px;
  border-right-color: #DDDDDD;

}

#searchLi {
  float:right;
}

#searchForm {
  margin-top: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

#searchInput {
  color: #FFF;
}
